tensorflow - 2.11.0 (or latest compatible version)
tensorflow-lite - 2.11.0 (or latest compatible version)
librosa - 0.9.2
numpy - 1.23.1 (or latest)
scipy - 1.9.1 (or latest)
soundfile - 0.10.3.post1
pyserial - 3.5 (or latest)
opencv-python - 4.7.0 (or latest)